.comment-insert
{
  height: 250px;
  width: auto;
  margin: 10px 5px 10px 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.comment-insert h3.who-says
{
  height: 30px;
  line-height: 0px;
  color:#6989CC;
  font-size: 14px;
  width: auto;
  padding: 0 0 0 10px;
  margin-left: 0 10px 0 10px;
  border-bottom: 1px solid #e1e1e1;
}

.comment-insert .comment-insert-container
{
  margin: 5px 10px 5px 10px;
  border: 1px solid #a1a1a1;
  width:auto;
  min-height: 156px;
  position: relative;
}

.comment-insert .comment-insert-container:hover{
  border: 1px solid #c1c1c1;
}
.comment-insert textarea.comment-insert-text
{
  border:none;
  width: 683px;
  height: 145px;
  color: #555;
  padding: 5px;
  position: absolute;
  background: url("/images/index1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.comment-post-btn-wrapper{
  position: absolute;
  top: 222px;
  right: 10px;
  width: 50px;
  height: 0px;
  line-height: 22px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.comment-post-btn-wrapper:hover{
  color: #e1e1e1;
}
.comment-text{
  text-transform: none;
}
