
h2 {
  color: #494c51;
}
p {
  text-indent: 1cm;
}
#output {
  background-color: #aab3c1;
  font-style: italic;
  color: black;
  padding: 20px;
  margin: 10px 20px 10px 20px;
  height:200px;
  width: 1800px;
  display: inline-block;
}
input{
  background-color: #dcdfe5;
  border-radius:30px;
}
li{
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color:#7c889b;

}
div {
  margin: 0 20px 5px 10px;
  list-style-type: none;
}
li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.header {
  background-color: #7c889b;
  padding: 2px 0 2px 0;
}
li a:hover {
  background-color: #7c889b;
  color: black;
}
body{
  font-family: monospace;
}
