<!DOCTYPE html>
<html>
  <head>
      <title> Final_Projects</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script type="text/javascript" src="/scripts/script.js"></script>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="/"><span class="head"> Home</span></li></a>
    <li><a href="/topic"><span class="head"> Topics</span></li></a>
      <li><a href="#"><span class="head"> About</span></li></a>
      <li><a href="#"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<div class="mdl-shadow mdl-cell">
  <h2>Reading Disorder</h2>
</div>
  <div class="wrapper">
    <div class="page-data">
      Page Here
    </div>
<div class="comment-wrap">

  <form action="/processform6" method="post">
    <h3 class="comment-title">
      Name: <input type="text" name="name" id="username"/></h3>
        <input type="hidden" name="section" value="no6"/>
      <div class="comment-insert">
        <h3 class="who-says"></h3>
        <div class="comment-insert-container">
        <textarea id="comment-post-text" name="text_field" class="comment-insert-text"></textarea>
      </div>
    <div id="comment-post-btn" class="comment-post-btn-wrapper">
        </div>
      </form>

        <div class="comment-post-btn-wrapper">
          <input type="submit" name="username" value="post"/>
          Post
        </div>

</div>

<div>
    {% for comment in comments %}
    {% if comment.section == "no6" %}
     <hr/>
</div>


      <div class="comments-list">
        <ul class="comments-holder-ul">
          <li class="comment-holder" id="_1">
            <div class="user-img">
              <img src="/images/main.jpg" class="user-img-pic"/>
            </div>
            <div class="comment-body">
            <h3 class="username-field">
               {{ name }}
            </h3>
            <div class="comment-text">
              <p>  {{ comment.text_field }} </p>
              <h6> {{ comment.created_at }} </h6>
            </div>
            </div>
            {% endif %}
            {% endfor %}
</ul>
</div>
</div>


</body>
</html>
