<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
      <title> Final_Projects</title>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="/"><span class="head"> Home</span></li></a>
    <li><a href="/topic"><span class="head"> Topics</span></li></a>
    <li><a href="/about"><span class="head"> About</span></li></a>
    <li><a href="/contact"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<div class="mdl-shadow mdl-cell">
  <h2>About</h2>
</div>
  <ol>
    <p class="bhhh">
        The Young Youth Program is a website where youth under the age of 30 can go on the website and write down the problems that are going through in their life. This website provides you with advice, helful tips on how to deal with the problems their going through. These disorders typically aren’t diagnosed until an individual is a young adult, often not until their 20’s or even 30’s. Most individuals with personality disorders lead pretty normal lives and often only seek psychotherapeutic treatment during times of increased stress or social demands. Most people can relate to some or all of the personality traits listed; the difference is that it does not affect most people’s daily functioning to the same degree it might someone diagnosed with one of these disorders. Personality disorders tend to be an intergral part of a person, and therefore, are difficult to treat or “cure.” Learn more about personality disorders and personality trait. You can discuss
    </p>
  </ol>
</body>
</html>
