<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
      <title> Final_Projects</title>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="/"><span class="head"> Home</span></li></a>
    <li><a href="/topic"><span class="head"> Topics</span></li></a>
    <li><a href="/about"><span class="head"> About</span></li></a>
    <li><a href="/contact"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<div class="mdl-shadow mdl-cell">
<h2> Contact Us </h2>
</div>

<ol>
  <h1>Therapy Blog </h1>
  <p>
    You can call this emergency hotline to get help from any representative listed below.
  </p>
<p> Suicide Hotline <br>
   Tel: +1-800-273-8255</p>
<p> Crisis Hotline <br>
  Tel:+1-800-729-7336<br>
1-800-SAY-TEEN
  <br>

  <div class="section_1">
    <div class="gallery">
      <img src="/images/Jonathan.jpg" width="250" height="350" alt="Photo of Jonathan James">

    <h4>  Jonathan James
      jjmshelia007@gmail.com</h4>
</div>
    <div class="gallery">
        <img src="/images/Elvis.jpg" width="250" height="350" alt="Elvis's photo">

        <h4>  Elvis Rodriguez
        elvisrodriguez1992@gmail.com</h4>
    </div>
    <div class="gallery">
      <img src="/images/abigail.jpg" width="250" height="350" alt="abigail's photo">

      <h4>  Abigail Bennett
        abigailbennett15@gmail.com</h4>
    </div>

  </div>

  </ol>
  </body>
</div>
</html>
