<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
      <title> Final_Projects</title>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="/"><span class="head"> Home</span></li></a>
    <li><a href="/topic"><span class="head"> Topics</span></li></a>
    <li><a href="/about"><span class="head"> About</span></li></a>
    <li><a href="/contact"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<div class="mdl-shadow mdl-cell">
<h2> Contact Us </h2>
</div>

<ol>
  <h1> Young Youth Program </h1>
  <p>
    You can call or text or email the hotline program to get help from any representative listed below.
  </p>
<p>  Email: youngyouthprogram@gmail.com
  <br>
<!--
  <img Id="profilepic" src="/images/Jonathan.jpg" width="150" height="150" alt="Photo of Jonathan James">

        <h2> Jonathan James</h2>
        Email:jjmshelia007@gmail.com

  <img Id="profilepic" src="/images/Elvis.jpg" width="150" height="150" alt="Elvis's photo">

        <h2> Elvis Rodriguez</h2>
        Email: elvisrodriguez1992@gmail.com

  <img Id="profilepic" src="/images/abigail.jpg" width="150" height="150" alt="abigail's photo">

        <h2> Abigail Bennett </h2>
       Email: abigailbennett15@gmail.com

    -->
</ol>
  </body>
</div>
</html>
