<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
      <title> Final_Projects</title>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="/"><span class="head"> Home</span></li></a>
    <li><a href="/topic"><span class="head"> Topics</span></li></a>
    <li><a href="/about"><span class="head"> About</span></li></a>
    <li><a href="/contact"><span class="head"> Contact </span></li></a>
  </ul>
</div>

<!-- Description -->

<div class="mdl-shadow mdl-cell">
  <h2>Description:</h2>
</div>
<div class="mdl-shadow mdl-cell">
  <p class="bhhh">
    This is a safe haven for troubled teens and young adults, where they
    may freely vent about their troubles in regards to the verious mental
    issues stated below. All discussions are anonymous, allowing visitors
    to focus solely on working on their issues. If there is a topic you'd
    like to have a discussion on that's not listed below, visit our contacts
    page and drop us an email, we would be happy to add it in for you.
</p>
    <br>
</div>
  <!-- Description Ends-->

  <!-- Topics -->
<div class="mdl-shadow mdl-cell">
  <h2>Topics of Discussion:</h2>
</div>
<div class="mdl-shadow mdl-cell">

  <ol>
    <li><a href="/no1"> Social Phobia (or Social Anxiety Disorder)</li></a>
    <li><a href="/no2"> Social (Pragmatic) Communication Disorder</li></a>
    <li><a href="/no3"> Post-Traumatic Stress Disorder (PTSD)</li></a>
    <li><a href="/no4"> Obsessive-Compulsive Disorder (OCD)</li></a>
    <li><a href="/no5"> Generalized Anxiety Disorder</li></a>
    <li><a href="/no6"> Reading Disorder</li></a>
    <li><a href="/no7"> Panic Disorder</li></a>
    <li><a href="/no8"> Stuttering</li></a>
    <li><a href="/no9"> Selective Mutism</li></a>
    <li><a href="/no10"> Schizophrenia</li></a>
    <li><a href="/no11"> Generalized Anxiety Disorder</li></a>
    <li><a href="/no12"> Stereotypic Movement Disorder</li></a>
</ol>
</div>
<!-- Topics End -->





</body>
</html>
