<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
      <title> Final_Projects</title>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
    <li><a href="final_project.html"><span class="head"> Home</span></li></a>
    <li><a href="topic.html"><span class="head"> Topics</span></li></a>
      <li><a href="#"><span class="head"> About</span></li></a>
      <li><a href="#"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<!-- Description -->

<div class="mdl-shadow mdl-cell">
  <h2>Description:</h2>
    <p>
      These disorders typically aren’t diagnosed until an individual is a young adult, often not until their 20’s or even 30’s.
      Most individuals with personality disorders lead pretty normal lives and often only seek psychotherapeutic treatment
      during times of increased stress or social demands. Most people can relate to some or all of the personality traits
      listed; the difference is that it does not affect most people’s daily functioning to the same degree it might someone
      diagnosed with one of these disorders. Personality disorders tend to be an intergral part of a person, and therefore,
      are difficult to treat or “cure.” Learn more about personality disorders and personality traits…
    </p>
    <br>
</div>
  <!-- Description Ends-->

  <!-- Topics -->
<div class="mdl-shadow mdl-cell">
  <h2>Topics of Discussion:</h2>
  <ol>
    <li><a href="no.1.html"> Social Phobia (or Social Anxiety Disorder)</li></a>
    <li><a href="#"> Social (Pragmatic) Communication Disorder</li></a>
    <li><a href="#"> Post-Traumatic Stress Disorder (PTSD)</li></a>
    <li><a href="#"> Obsessive-Compulsive Disorder (OCD)</li></a>
    <li><a href="#"> Generalized Anxiety Disorder</li></a>
    <li><a href="#"> Reading Disorder</li></a>
    <li><a href="#"> Panic Disorder</li></a>
    <li><a href="#"> Stuttering</li></a>
    <li><a href="#"> Selective Mutism</li></a>
    <li><a href="#"> Schizophrenia</li></a>
    <li><a href="#"> Generalized Anxiety Disorder</li></a>
    <li><a href="#"> Stereotypic Movement Disorder</li></a>
</ol>
</div>
<!-- Topics End -->





</body>
</html>
