<!DOCTYPE html>
<html>
  <head>
      <title> Final_Projects</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script type="text/javascript" src="/scripts/script.js"></script>
        <link rel = "stylesheet" href ="/stylesheets/main.css"/>
  </head>
   <body>
<div class="mdl-shadow mdl-cell">
  <ul>
      <li><a href="final_project.html"><span class="head"> Home</span></li></a>
      <li><a href="topic.html"><span class="head"> Topics</span></li></a>
      <li><a href="#"><span class="head"> About</span></li></a>
      <li><a href="#"><span class="head"> Contact </span></li></a>
  </ul>
</div>
<div class="mdl-shadow mdl-cell">
  <h2>Social Phobia (or Social Anxiety Disorder)</h2>
</div>
  <div class="wrapper">
    <div class="page-data">
      Page Here
    </div>
<div class="comment-wrap">

<form action="/" method="post">
  <h3 class="comment-title">
    Name: <input type="text" name="name" id="username"/></h3>
    <div class="comment-insert">
      <h3 class="who-says"><span>Says: </span>Joe</h3>
      <div class="comment-insert-container">
      <textarea id="comment-post-text" name="text_field" class="comment-insert-text"></textarea>
    </div>
  <div id="comment-post-btn" class="comment-post-btn-wrapper">
      </div>
    </form>

      <div class="comment-post-btn-wrapper">
        <input type="submit" name="name" value="foo"/>
        Post
      </div>

</div>
      <div id="foo" class="comments-list">
        <ul class="comments-holder-ul">


          <li class="comment-holder" id="_1">
            <div class="user-img">
              <img src="main.jpg" class="user-img-pic"/>
            </div>
            <div class="comment-body">
            <h3 class="username-field">
              {{ name }}
            </h3>
            <div class="comment-text">
              {{ text_field }}
            </div>
            <div class="comments-buttons-holder">
              <ul>
                <li id ="x_btn" class="delete-btn">X</li>
              </ul>
            </div>
          </li>

      </ul>
</div>
</div>

</body>
</html>
