<!DOCTYPE html>
<html>
  <body>
        <h1>Adventures at CSSI</h1>
    <form method="post" action ="">
         <h3>Noun:<input type="text" name="noun"/></h3>
         <h3>Plural Noun:<input type="text" name="pnoun"/></h3>
         <h3>Noun:<input type="text" name="noun2"/></h3>
         <h3>Pronoun:<input type="text" name="pronoun"/></h3>
         <h3>Adjective:<input type="text" name="adjective"/></h3>
         <h3>Verb:<input type="text" name="verb"/></h3>
         <br>
      <p><input type="submit" value="Submit"></p>
 </form>
  </body>
</html>
